<nav>
    <div class="logo-container">
        <img src="/assets/logo.svg" alt="" class="logo">
        <h2>CloudDiary</h2>
    </div>


    <div class="links">
            <span class="login" onclick="window.location.href='/login'">Login</span>
            <span class="register" onclick="window.location.href='/register'">Register</span>
    </div>
</nav>