<nav>
    <div class="logo-container">
        <img src="/assets/logo.svg" class="logo" alt="logo">
        <h2>CloudDiary</h2>
    </div>

    <div class="links">
            <span class="logout">Logout</span>
    </div>
</nav>